
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="post" action="../User/Register">
    <label for="inputUsername" class="visually-hidden">Username</label>
    <input id="inputUsername" class="form-control" placeholder="Username" name="Username" required autofocus>
    <label for="inputPassword" class="visually-hidden">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="Password" required>
    <label for="inputFirstName" class="visually-hidden">First Name</label>
    <input id="inputFirstName" class="form-control" placeholder="First Name" name="FirstName" required autofocus>
    <label for="inputLastName" class="visually-hidden">Last Name</label>
    <input id="inputLastName" class="form-control" placeholder="Last Name" name="LastName" required>
    <label for="inputBirthDate" class="visually-hidden">Username</label>
    <input type="date"id="inputBirthDate" class="form-control" placeholder="BirthDate" name="BirthDate" required autofocus>
    <label for="inputCity" class="visually-hidden">City</label>
    <input id="inputCity" class="form-control" placeholder="City" name="City" required>
    <label for="inputPhone" class="visually-hidden">Phone</label>
    <input type="number" id="inputPhone" class="form-control" placeholder="Phone" name="Phone" required>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
</form>
<a asp-controller="Home"
   asp-action="Index">Already have an account? Click here to Sign in.</a>

